<!DOCTYPE html>
{% extends "layouts/base.html" %}
<style>
    {% block body_color %}
        :root{
            --white: black;
            --black: black;
            --back_color: pink;
        }
    {% endblock %}
</style>

<html>
<body>

{% block body %}
    <h1 class="text-center">AP Literature</h1>
    <div class="container">
    <div class="row justify-content-md-center">
    </div>
    <div class="container">
    <div class="row justify-content-md-center">
    </div>

    <p class="text-left"> Description: The course presents examples of western literary development from the Greeks  through the twentieth century, acquainting students with various genres and themes.</p>

    <p class="text-left">Requirements: This course has been approved to meet the UC/CSU "b" or "g" requirement.</p>

    <p><a href="https://apstudents.collegeboard.org/courses/ap-english-literature-and-composition">Link to AP Exam Information on College Board</a></p>

    <style>
        table, th, td {
            border:3px solid black;
        }
    </style>
    <table style="width:100%">
        <tr>
            <th>Units of Study</th>
            <th>Description</th>

        </tr>
        <tr>
            <td>Unit 1: Short Fiction I</td>
            <td>You’ll learn critical reading skills to help you critically read, interpret, and analyze prose.</td>
        </tr>
        <tr>
            <td>Unit 2: Poetry I</td>
            <td>You’ll continue your critical reading exploration in poetry and learn to analyze similar elements within a wide variety of poems.</td>
        </tr>

        <tr>
            <td>Unit 3: Longer Fiction or Drama I</td>
            <td>You’ll observe how the literary techniques you’ve explored in prior units unfold over the course of longer works and analyze how characters develop and interact over the course of a narrative.</td>
        </tr>

        <tr>
            <td>Unit 4: Short Fiction II</td>
            <td>You’ll delve deeper into the roles of character and conflict in fiction and explore how a narrator’s perspective can color storytelling.</td>
        </tr>

        <tr>
            <td>Unit 5: Poetry II</td>
            <td>You’ll study different forms of poetry and examine how structure and figurative language can create and impact meaning.</td>
        </tr>

        <tr>
            <td>Unit 6: Longer Fiction or Drama II</td>
            <td>YYou’ll analyze how various literary techniques play out and shift over the course of longer works, charting how characters change (or don’t) as they’re affected by developments in the plot.</td>
        </tr>

        <tr>
            <td>Unit 7: Short Fiction III</td>
            <td>YYou’ll examine how works of fiction interact with and comment on the world around them and the society their authors live or lived in.</td>
        </tr>

        <tr>
            <td>Unit 8: Poetry III</td>
            <td>You’ll develop your interpretation of poetry further by examining how contrasts, ambiguous language, and various other techniques can add layers of meaning to a poetic work.</td>
        </tr>

        <tr>
            <td>Unit 9: Longer Fiction or Drama III</td>
            <td>You’ll consider longer narratives in the context of the various techniques and interpretations you’ve learned in prior units and build a nuanced analysis of each complex work as a whole.</td>
        </tr>
    </table>
{% endblock %}
</body>
</html>

{% block background %}
{% endblock %}