<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}



<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: arial,sans-serif;">

    <span style="font-size: 300%; "> <p>Shruti Chari</p></span>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: arial,sans-serif;">

    <img src="assets/shruti.png">

    <span style="font-size: 150%; ">  <p> - Senior at Del Norte High School</p></span>

    <span style="font-size: 150%; ">  <p> - 17 years old</p></span>

    <span style="font-size: 150%; ">  <p> - Hobbies: Singing and dancing</p></span>

    <span style="font-size: 150%; "> <p> - Interested in pursuing a career in STEM</p></span>


    <div class="center-block" style="margin: 2% 5% 5%; text-align:right; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/shruti" id="shruti" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>

    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}