<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('index') }}>Home Page</a>
            <!-- stub is shown using the name of the route -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Neha/">About Neha</a>
                    <a class="dropdown-item" href="/gigi">About Gigi</a>
                    <a class="dropdown-item" href="/jessie">About Jessie</a>
                    <a class="dropdown-item" href="/shruti/">About Shruti</a>
                    <a class="dropdown-item" href="/starter/joke">Jokes</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mini labs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/mini_labs">Tangibles and Greet Project</a>
                    <a class="dropdown-item" href="/binary">Binary Hackathon</a>
                    <a class="dropdown-item" href="/RGB/">RGB Mini Lab</a>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logic Gates Lab
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/unsigned addition/">Unsigned Addition</a>
                        <a class="dropdown-item" href="/signed addition/">Signed Addition</a>
                        <a class="dropdown-item" href="/Logic Gates/">Logic Gates</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Electives
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/electives/">Electives</a>
                    <a class="dropdown-item" href="/english/">English</a>
                    <a class="dropdown-item" href="/fine arts/">Fine Arts</a>
                    <a class="dropdown-item" href="/history/">History</a>
                    <a class="dropdown-item" href="/math/">Math</a>
                    <a class="dropdown-item" href="/science/">Science</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    English
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/apel/">AP English Language</a>
                    <a class="dropdown-item" href="/aplit/">AP Literature</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fine Arts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/electives/">Electives</a>
                    <a class="dropdown-item" href="/english/">English</a>
                    <a class="dropdown-item" href="/fine arts/">Fine Arts</a>
                    <a class="dropdown-item" href="/history/">History</a>
                    <a class="dropdown-item" href="/math/">Math</a>
                    <a class="dropdown-item" href="/science/">Science</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    History
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/apeuro/">AP European History</a>
                    <a class="dropdown-item" href="/apush/">AP United States History</a>
                    <a class="dropdown-item" href="/apgov/">AP Government and Politics</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Math
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/electives/">Electives</a>
                    <a class="dropdown-item" href="/english/">English</a>
                    <a class="dropdown-item" href="/fine arts/">Fine Arts</a>
                    <a class="dropdown-item" href="/history/">History</a>
                    <a class="dropdown-item" href="/math/">Math</a>
                    <a class="dropdown-item" href="/science/">Science</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Science
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/apbio/">AP Biology</a>
                    <a class="dropdown-item" href="/english/">English</a>
                    <a class="dropdown-item" href="/fine arts/">Fine Arts</a>
                    <a class="dropdown-item" href="/history/">History</a>
                    <a class="dropdown-item" href="/math/">Math</a>
                    <a class="dropdown-item" href="/science/">Science</a>
                </div>
            </li>
        </div>
    </div>
</nav>