<!DOCTYPE html>
{% extends "layouts/base.html" %}
<style>
    {% block body_color %}
        :root{
            --white: black;
            --black: black;
            --back_color: rgba(227, 18, 46, 0.56);
        }
    {% endblock %}
</style>

<html>
<body>

{% block body %}
    <h1 class="text-center">AP Calculus AB</h1>
    <div class="jumbotron text-center" style= "width: 1000px; height: 300px; margin: 122.4px 200px;">
        <div class="col-md">
            <h2> Facts About A Random Number </h2>
            <h3>{{ x['number'] }}</h3>
            <p>{{ x['text'] }}</p>
            <a class="button" href="/apcalcab">Press For A New Number!</a>
            <div class="row justify-content-md-center">
            </div>
        </div>
    </div>


{% endblock %}
</body>
</html>

{% block background %}
{% endblock %}