<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Welcome to Our Page!" %}
{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/gigiguan/flask_portfolio" %}
{% set scrumboard = "https://github.com/gigiguan/flask_portfolio/projects/1" %}
{% set authors = ""  %}

