<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/mini_labs" id="mini_labs" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col"><a href="https://docs.google.com/document/d/1GDL2P5qHNYJSxuEmO7BghdSnI1gzuHCjeGk1Jzixv_0/edit?usp=sharing">Brainstorm</a></div>
        <div class="col"><a href="https://docs.google.com/document/d/15N3ugSXexnfkeFybtwNWUcIGalFled_8_a8i_Pyx4tA/edit?usp=sharing">Brainwrite</a></div>
        <div class="w-100"></div>
        <div class="col"><a href="https://docs.google.com/document/d/1-n-8hx8C_euslSGyv5ZKifDJhc5ILL_KvYUhAxxRBgw/edit?usp=sharing">Wireframe</a></div>
    </div>
<!DOCTYPE html>
<html>
<body>

<iframe src="https://drive.google.com/file/d/1QUX5KFgUkwMJkeGID6a--jWleS1QFJLu/preview" width="640" height="480" allow="autoplay">
</iframe>

</body>
</html>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}


