<!DOCTYPE html>
{% extends "layouts/base.html" %}
<style>
    {% block body_color %}
        :root{
            --white: black;
            --black: black;
            --back_color: orange;
        }
    {% endblock %}
</style>


    {% block body %}
            <h1 class="text-center">AP Government and Politics</h1>
            <div class="container">
            <div class="row justify-content-md-center">
            </div>
        {% endblock %}
        </body>
        </html>

        {% block background %}
        {% endblock %}


{% block background %}
{% endblock %}