<!DOCTYPE html>
{% extends "layouts/base.html" %}
<style>
    {% block body_color %}
        :root{
            --white: black;
            --black: black;
            --back_color: orange;
        }
    {% endblock %}
</style>


{% block body %}
    <html>
    <body>
    <h1 class="text-center">AP United States History</h1>
    <div class="container">
        <div class="row justify-content-md-center">
        </div>
    </body>
    </html>

<p class="text-left">Description: U.S. History (Advanced Placement) 1-2 is an advanced course covering the cultural, economic, political, and social developments that have shaped the United States from c. 1491 to the present.

</p>


<p class="text-left">Requirements: Those passing the AP exam at the high level usually can receive college credit and a waiver of the college U. S. History requirement. This course has been approved to meet the UC/CSU “a” or "g" requirement.
<p><a href="https://apstudents.collegeboard.org/courses/ap-united-states-history">Link to AP Exam Information on College Board</a></p>

<style>
    table, th, td {
        border:3px solid black;
    }
</style>
<table style="width:100%">
    <tr>
        <th>Units of Study</th>
        <th>Description</th>

    </tr>
    <tr>        <td>Period 1 (1491-1607)</td>
        <td> You’ll learn about Native American societies as well as how and why Europeans first explored, and then began to colonize, the Americas.
    </tr>
   <tr>
        <td>Period 2 (1607-1754)</td>
        </td>You'll study the colonies established in the New World by the Spanish, French, Dutch, and British.
    </tr>
    <tr>
        <td>Period 3 (1754-1800)</td>
        </td>You'll explore the events that led to the American Revolution and the formation of the United States and examine the early years of the republic.
    </tr>
    <tr>
    <tr>
        <td>Period 4 (1800-1848)</td>
        </td>You’ll examine how the young nation developed politically, culturally, and economically in this period.
    </tr>

    <tr>
        <td>Period 5 (1844-1877)</td>
        </td>You’ll learn how the nation expanded and you’ll explore the events that led to the secession of Southern states and the Civil War.
    </tr>

    <tr>
        <td>Period 6 (1865-1898)</td>
        </td>You’ll examine the nation’s economic and demographic shifts in this period and their links to cultural and political changes.
    </tr>

    <tr>
        <td>Period 7 (1890-1945)</td>
        </td>You’ll examine America’s changing society and culture and the causes and effects of the global wars and economic meltdown of this period.
    </tr>

    <tr>
        <td>Period 8 (1945-1980)</td>
        </td>You’ll learn about the rivalry between the Soviet Union and the United States, the growth of various civil rights movements, and the economic, cultural, and political transformations of this period.
    </tr>
    <td>Period 9 (1980-present)</td>
    </td>You’ll learn about the advance of political conservatism, developments in science and technology, and demographic shifts that had major cultural and political consequences in this period.
    </tr>
</table>

{% endblock %}
</body>
</html>

{% block background %}
{% endblock %}

